@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #e8e8e8
}


button {
  cursor: pointer;
}